.topslideswiper {
  width: 85%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: #1db060;
  border-radius: 50%;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;
  font-weight: bold;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 2px solid white !important;
  padding: 4px;
  opacity: 0.8 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}
