.volunteer-slider .swiper-button-next,
.volunteer-slider .swiper-button-prev {
  top: auto;
  bottom: 0;
  width: 45px;
  height: 45px;
  border: 2px solid #55a379;
  border-radius: 4px;
  background-color: white;
  color: #55a379 !important;
  padding: 15px;
}
.volunteer-slider .swiper-button-prev {
  left: 45%;
  transform: translateX(-50%);
}
.volunteer-slider .swiper-button-next {
  right: 50%;
  transform: translateX(50%);
}
.volunteer-slider .swiper-button-next:after,
.volunteer-slider .swiper-button-prev:after {
  font-size: 16px;
}
@media (max-width: 768px) {
  .volunteer-slider .swiper-button-prev {
    left: 40%;
    transform: translateX(-50%);
  }
  .volunteer-slider .swiper-button-next {
    right: 40%;
    transform: translateX(50%);
  }
}
