.donationAndDonor .swiper {
  padding-bottom: 50px; /* space for bullets */
  position: relative;
}

.donationAndDonor .swiper-pagination {
  position: absolute;
  bottom: 0 !important; /* move to bottom */
  left: 0;
  width: 100%;
  text-align: center;
}

.donationAndDonor .swiper-pagination-bullet {
  /* background-color: black !important; */
  border: 1px solid black !important;
}

.donationAndDonor .swiper-pagination-bullet-active {
  background-color: rgb(72, 230, 72) !important;
}
